
header h1 {
    font-size: 70px;
    font-weight: 600;
    color: #EC7357;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .header-wrapper {
    font-family: 'Lato', sans-serif;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../../assets/aerial-shot-beautiful-tree-forest-covered-with-fog-bled-slovenia.jpg') center center/cover no-repeat;
    object-fit: contain;
    border-radius:0 0 100px 100px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-section {
  }
  .header-title {
  }
  
.nav-side {
    display: inline-block;
    margin-left: 14px;
}
.nav-side a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    fill: #fff;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-side a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.nav-side a:hover::before {
    transform: scale(1);
}
.nav-side a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.nav-side a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}