<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
  </style>
<header>
 <div class="header-wrapper">
    <div class="header-container">
      <div class="header-section">
        <h1 class="header-title">Psintagram</h1>
      </div>
      <div class="nav-side">
        <a href="https://www.linkedin.com/in/artyom-behter-955209250/"><img src='../../../assets/nav-icon1.svg' alt=""/></a>
                <a href="https://github.com/ArtemBehter"><img src='../../../assets/nav-icon2.svg' alt=""/></a>
      </div>
    </div>
  </div>
</header>
